$yellow: #fbe828;
$white : #fff;
$bluish: #677ee8;
$darkbl: #754fa6;
$almostblac: #0c1421;
$black: rgba(37, 36, 36, 0.808);
$font1: 25px;
$font2: 18px;
$font3: 15px;
$font4: 40px;

@mixin mytheme($norm: linear-gradient(90deg, #667eea 0%, #764ba2 100%)){
  background: $norm;
  color: $yellow;
  box-shadow: 10% 10% 10% $yellow;
}


.hotline_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.hotline_container_h21 {
  font-size: $font2;
  color: $white;
  text-align: right;
}

.hotline_container_nav1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  p,
  address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    img {
      object-fit: contain;
      width: 20%;
    }
    a {
      color: $white;
      text-decoration: none;
      font-size: $font2;
    }
    :hover {
      text-decoration: underline;
    }
  }
}
